<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdu.contract_management.mapper.ContractMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hdu.contract_management.entity.Contract">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="department" property="department" />
        <result column="sign_people" property="signPeople" />
        <result column="contract_type" property="contractType" />
        <result column="sign_date" property="signDate" />
        <result column="start_data" property="startData" />
        <result column="stop_data" property="stopData" />
        <result column="contract_state" property="contractState" />
        <result column="party_b" property="partyB" />
        <result column="total" property="total" />
        <result column="contract_describe" property="contractDescribe" />
        <result column="file_path" property="filePath" />
    </resultMap>

    <select id="getExpire" resultType="com.hdu.contract_management.entity.Contract">
        SELECT * FROM contract.contract WHERE TO_DAYS( stop_date) - TO_DAYS( NOW() )   &lt;= 10 and sign_people = #{userId};
    </select>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, department, sign_people, contract_type, sign_date, start_data, stop_data, contract_state, party_b, total, contract_describe, file_path
    </sql>

</mapper>
