<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdu.contract_management.mapper.ReceiptApproveMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hdu.contract_management.entity.ReceiptApprove">
        <id column="id" property="id"/>
        <result column="receipt_id" property="receiptId"/>
        <result column="approve_people" property="approvePeople"/>
        <result column="finish" property="finish"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, receipt_id, approve_people, finish
    </sql>

</mapper>
